<div class="container">
  <h1>Điểm số: {{score}}/30</h1>
  <div class="jumbotron">
    <h1>{{{question}}}</h1>
    <h2>Tôi chọn số</h2>
    <div class="answerRow">
      <form class="{{question2}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="1"></input>
      </form>

      <form class="{{question2}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="2"></input>
      </form>

      <form class="{{question2}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="3"></input>
      </form>

      <form class="" action="" method="post">
        <input class="btn" type="submit" name="submit" value="4"></input>
      </form>

      <form class="{{question2}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="5"></input>
      </form>

      <form class="{{question2}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="6"></input>
      </form>

      <form class="{{question2}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="7"></input>
      </form>

      <form class="{{question2}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="8"></input>
      </form>

      <form class="{{question2}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="9"></input>
      </form>

      <form class="" action="" method="post">
        <input class="btn" type="submit" name="submit" value="10"></input>
      </form>

      <form class="{{question6}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="11"></input>
      </form>

      <form class="{{question6}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="12"></input>
      </form>

      <form class="{{question6}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="13"></input>
      </form>

      <form class="{{question6}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="14"></input>
      </form>

      <form class="{{question6}}" action="" method="post">
        <input class="btn" type="submit" name="submit" value="15"></input>
      </form>
    </div>

  </div>

  <div class="container graph-container">
    <div id="graph-1-container" class="graph">

    </div>
    <div id="graph-2-container" class="graph">

    </div>
    <div id="graph-3-container" class="graph">

    </div>
    <div id="graph-4-container" class="graph">

    </div>
    <div id="graph-5-container" class="graph">

    </div>
    <div id="graph-6-container" class="graph">

    </div>
  </div>

</div>
