<div class="container">
    <h1>Điểm số: {{score}}/30</h1>
    <div class="jumbotron">
        <h1>{{{question.question}}}</h1>
        <h2>Tôi chọn số</h2>
        <table>
            <jxxtr>
                <!--<th>-->
                    <!--<form class="hidden" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="1"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question2}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="2"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question2}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="3"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="4"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question2}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="5"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question2}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="6"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question2}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="7"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question2}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="8"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question2}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="9"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="10"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question6}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="11"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question6}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="12"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question6}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="13"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question6}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="14"></input>-->
                    <!--</form>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<form class="{{question2}}" action="" method="post">-->
                        <!--<input class="btn btn-primary" type="submit" name="submit" value="15"></input>-->
                    <!--</form>-->
                <!--</th>-->
            </jxxtr>
        </table>
    </div>
    <div class="graph-1-container">

    </div>
    <div class="graph-2-container">

    </div>
    <div class="graph-3-container">

    </div>
    <div class="graph-4-container">

    </div>
    <div class="graph-5-container">

    </div>
    <div class="graph-6-container">

    </div>
</div>
