<div class="container">
  <h1>Điểm số: {{score}}/30</h1>
  <div class="jumbotron">
    <h1>Có tổng cộng {{X}} người đã từng chơi game này, theo bạn bao nhiêu người trong số họ đã chiến thắng? Ghi điểm bằng (1 - (sai số / tổng số người chơi)) * 10</h1>
    <h2>Tôi chọn số</h2>
    <div class="answerRow">
      <form class="" action="" method="post">
        <input id="answer" class="form-control" type="number" name="submit" value="" placeholder="Số người đã chiến thắng" min="0" max="{{X}}" onkeyup="checkValid()" required>
        <input class="form-control btn" type="submit" name="" value="Chọn"></input>
      </form>
    </div>
  </div>
  <div class="container graph-container">
    <div id="graph-1-container" class="graph">

    </div>
    <div id="graph-2-container" class="graph">

    </div>
    <div id="graph-3-container" class="graph">

    </div>
    <div id="graph-4-container" class="graph">

    </div>
    <div id="graph-5-container" class="graph">

    </div>
    <div id="graph-6-container" class="graph">

    </div>

  </div>

  <script type="text/javascript">
    function checkValid(){
      var el = document.getElementById('answer');
      if (el.value > {{X}}){
        el.value = {{X}};
        alert("Số chọn phải nhỏ hơn số người chơi!");
      }
      if (el.value < 0){
        el.value = 0;
        alert("Số chọn không thể nhỏ hơn 0!");
      }
    }
  </script>
